In [2]:
print("Hello, Python")

Hello, Python!

In [3]:
a = 37
b = 11
print("a + b =", a+b)
print("a - b =", a-b)
print("a * b =", a*b)
print("a // b =", a//b)

a + b = 48
a - b = 26
a * b = 407
a // b = 3

In [4]:
name = "Iman"
print(f"Hello, {name}!")

Hello, Iman!

In [5]:
universities = ["UCLA","USC","MIT","ESADE","IE"]
print(universities)
print(universities[0],universities[-1])

['UCLA', 'USC', 'MIT', 'ESADE', 'IE']
UCLA IE

In [6]:
student = {
  "name": "Iman",
  "age": "23",
  "grade": "A"
}
for i in student:
    print (i,":",student[i],)

name : Iman
age : 23
grade : A

In [7]:
coordinates = [2321,7682]
coordinates = tuple(coordinates)
print("X:",coordinates[0]," Y:",coordinates[1])

X: 2321  Y: 7682

In [8]:
colors = ["red","green","blue"]
colors = set(colors)
colors.add("orange")
colors.add("red")
print(colors)
colors.remove("blue")
light_colors = set()
light_colors.add("yellow")
colors = colors.union(light_colors)
colors

{'green', 'red', 'blue', 'orange'}

{'green', 'orange', 'red', 'yellow'}

In [9]:
number = int(input("input your number:"))
if number > 0:
    print("Positive!")
elif number < 0:
    print("Negetive!")
else:
    print("!Zero!")

input your number:-34
Negetive!

In [10]:
L = list(range(1,6))
for i in L:
    print(i)

1
2
3
4
5

In [11]:
i = 1
while i<=5:
    print(i)
    i +=1

1
2
3
4
5

In [12]:
grade = input("GRADE:")
grades = {"A": "Excellent!",
"B": "Good job!",
"C": "Fair.",
"D": "Needs improvement.",
"F": "Failing."}
if grade in grades.keys():
    print(grades[grade])
else:
    print("NA!!!")

GRADE:B
Good job!

In [13]:
def greet (name):
    print("Hello {} !".format(name))
greet("Iman")

Hello Iman !

In [14]:
def square (number):
    return number ** 2
print(square(1),square(11),square(111))

1 121 12321

In [15]:
def multiply (a, b = 1):
    return a * b
print(multiply(5,6),multiply(5))

30 5

In [16]:
L = list(range(1,11))
L2 = [i**2 for i in L]
L2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
students = {
  "john": [18,3,15,16,12],
  "Lee": [5,4,3,12,19],
  "Iman": [18,18,19,20,20]
}
def AVG (dic):
    for S in dic:
        print(S,":",sum(dic[S])/len(dic[S]))
AVG(students)

john : 12.8
Lee : 8.6
Iman : 19.0

In [18]:
def calculate (n1,n2,operator):
    if operator == "+":
        return n1 + n2
    elif operator == "-":
        return n1 - n2
    elif operator == "*":
        return n1 * n2
    elif operator == "/":
        return n1 / n2
    else:
        return "ERROR"
number1 = int(input("first number:"))
number2 = int(input("second number:"))
operator = input("operator:")
calculate(number1, number2, operator)

first number:12
second number:3
operator:/

4.0